<h1> Bienvenidos</h1>
<br />
<img src="logo.jpg">
<br /><br />
<table align="center"><tr><td>
 <div id="center_col">
<h3><a href="/customers/index">Clientes</a></h3>
<h3><a href="/doctors/index">Doctores</a></h3>
<h3><a href="/patients/index">Pacientes</a></h3>
<h3><a href="/prospectus/index">Prospectos</a></h3>
</div>
</td></tr></table>
 

