<h1> Bienvenidos</h1>
<br />
<img src="../assets/logo.png" />

<!-- Inicio Menu del Sistema -->
				<!--div class="span-24 last">
					<div id="TabbedPanels1" class="TabbedPanels">
					  <ul class="TabbedPanelsTabGroup">
						<li class="TabbedPanelsTab" tabindex="0">
							<a href="#">Citas de Vacunas y Tareas</a>
						</li>
					    <li class="TabbedPanelsTab" tabindex="0"><a href="#" onclick="javascript:pacientes();">Pacientes</a></li>
						<li class="TabbedPanelsTab TabbedPanelsTabSelected"  tabindex="0"><a href="#" onclick="javascript:clientes();">Clientes</a></li>
						<li class="TabbedPanelsTab" tabindex="0"><a href="#" onclick="javascript:prospectos();">Prospectos</a></li>
						<li class="TabbedPanelsTab" tabindex="0"><a href="#" onclick="javascript:doctores();">Doctores</a></li>
					  </ul>
					  <div class="TabbedPanelsContentGroup">
						&nbsp;
						<div class="TabbedPanelsContent" style="display: none; ">
						&nbsp;
						</div>
						<div class="TabbedPanelsContent" style="display: none; ">
							&nbsp;
						</div>
						<div class="TabbedPanelsContent" style="display: block; ">
							&nbsp;
						</div>
						<div class="TabbedPanelsContent" style="display: none; ">
							&nbsp;
						</div>
					  </div>
					</div>
				</div-->
				<div class="span-24 last">
					<div class="barra-menu span-24 last">
						<ul class="menu-1">
							<li><a href="#">Citas de Vacunas y Tareas</a></li>
							<li><a href="/patients/index">Pacientes</a></li>
							<li class="active"><a href="/customers/index">Clientes</a></li>
							<li><a href="/prospectus/index">Prospectos</a></li>
							<li><a href="/doctors/index">Doctores</a></li>
						</ul>
						<div class="menu-2 span-24 last">
							
							<div id="usuario" class="span-8 last">
								Usuario: Dora Arpi | <a href="#">Cerrar Sessi&oacute;n</a>
							</div>
						</div>
					</div>
				</div>			
				
				
            <!-- Fin Menu del Sistema -->
			
<br /><br />
<table align="center"><tr><td>
 <div id="center_col">
<h3><a href="/customers/index">Clientes</a></h3>
<h3><a href="/doctors/index">Doctores</a></h3>
<h3><a href="/patients/index">Pacientes</a></h3>
<h3><a href="/prospectus/index">Prospectos</a></h3>
</div>
</td></tr></table>
 

