div#encabezado{
	background-color: #1C4100;
}
div#logo{
    background-color: #1C4100;
    text-align: center;
    color: #FFFFFF;
}

div#barra-amarilla{
    height: 30px;
    background-color: #F1C949;
	padding-bottom: 5px;
}
div#barra-amarilla table tr td{
    text-align: right;
	
}
div#banner{
	margin: 10px 5px;
	color: #BB3513;
	font-weight: bold;
}


div#aplicacion{
    padding: 50px 0px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 32px;
    text-align: left;
    color: #FFFFFF;
}

div#usuario{
    background-color: #F1C949;	
    text-align: right;
    color: #000000;
    font-family: Calibri;	
    font-size: 12px;
	display: block;
	font-weight: bold;
}
div#usuario a{
    color: #000066;
    font-family: Calibri;	
    font-size: 11px;
    font-weight: normal;
	font-weight: bold;
    text-decoration: none;
	padding-left: 5px;
}
div#usuario a:hover{
    text-decoration: underline;
}

div#pie{
    padding-top: 1em;
    border-top: 1px solid #CBDFC8;
    height: 20px;
    text-align: center;
    font-family: Calibri;
    font-size: 12px;
	font-weight: bold;
    color: #000;
    text-decoration: none;
	background-color: #F1C949;
}

.loginForm{
	font-weight: bold;
}

/*
** Menus de navegacion
*/
.barra-menu {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	clear: none;
	width: 100%;
}
.menu-1 {
	margin: 0px;
	padding: 0px;
}
.menu-1 li{
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0px 1px 0px 0px;
	font: bold 1em calibri;
	background-color: #DDD;
	list-style: none;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #F1C949;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
}
.menu-1 li  a{
	text-decoration: none;
	color: black;
}
.menu-1 li  a:hover{
	text-decoration: none;
	color: #BB3513;
}
li.active {
	background-color: #F1C949;
	border-bottom: 1px solid #F1C949;
}
li.active a{
	text-decoration: none;
	color: black;
}
li.active a:hover{
	text-decoration: none;
	color: black;
}
.menu-2 {
	clear: both;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	border-top: solid 1px #F1C949;
	border-right: solid 1px #F1C949;
	background-color: #F1C949;
}
.menu-2 div {
	overflow: hidden;
	padding: 4px 0px;
	display: none;
}
.menu-2 div.active {
	display: block;
}
.menu-2 div a{
	text-decoration: none;
	color: #BB3513;
	padding: 10px;
	font: bold 1em calibri;
}

.menu-2 div a:hover{
	text-decoration: underline;
	color: #BB3513;
	padding: 10px;
}


ul.menu-3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 0.5em;
	padding-left: 5px;
    margin: 5px 0;
    background-color: #FFF;
}
ul.menu-3 li {
    display: inline;
    padding: 0 0.5em;
    border-right: 1px solid #ccc; /* LTR */
}
ul.menu-3 a {
    padding: 0;
    text-decoration: none;
    font-family: Calibri;
    font-size: 13px;
    color: #BB3513;
}
ul.menu-3 a:hover {
    color: #BB3513;
}
ul.menu-3 a.active {
    border-bottom: 3px solid #BB3513;
    color: #000;	
}
/*
** Formularios
*/
div#formulario table {
    margin: 0px 0px 5px 0px;
    padding: 5px 0px;
    border-top: 1px solid lightGray;
}
div#informacion{
    text-align: left;
    border-top: 1px solid lightGray;
}
div#informacion table {
    width: 900px;
    margin: 10px 0px 5px 10px;
    padding: 0px 0px 0px 0px;
    border: 1px solid lightGray;
}
div#informacion table thead tr th{
    padding-left: 5px;
	text-align: left;
}
div#informacion table tbody tr.even td, div#informacion table tbody tr:nth-child(even) td {
    background:#e5ecf9;
}
div#enlace a{
	margin: 10px 0px 5px 10px;
}
td.cell-label{
    text-align: left;
    padding-left: 10px;
    width: 140px;
}
td.cell-field{
    text-align: left;
    width: 260px;
}
td a{
    font-family: Calibri;
    font-weight: normal;
    color: #06C;
    text-decoration: none;
}
td a:hover{
    font-family: Calibri;
    font-weight: normal;
    color: #06C;
    text-decoration: underline;
}
td.row-field{
    text-align: left;
}
td.row-field input, td.row-field textarea{
    text-align: left;
    width:558px;
}
div#button-group{
    margin: 0px 0px;
    padding: 3px 0px;
    text-align: left;
    font-family: Calibri;
    font-size: 12px;
    color: #ff2f11; /*06C;*/
}
div#button-group table {
    padding: 0px 0px 0px 5px;
    border-top:1px solid lightGray;
    border-bottom:1px solid lightGray;	
}
input[type=text], input[type=password], input[type=url], input[type=email], textarea {background-color:#fff;border:1px solid #bbb;color:#000;}
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, textarea:focus {background-color:#eee;}
textarea {height:32px;}
select {width:148px;} /* width + 2 = total en chrome */
input[type=text], input[type=password]{width:144px;padding-left:3px;}
table {
    margin: 0px 0px;
    padding: 1px 0px;
}
/*td.button-group input{
        background: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1) repeat scroll 0 0 transparent;    
    background: -webkit-gradient(linear, left top, left bottom,
        color-stop(0.00, #F5F5F5),   
        color-stop(1.00, #F1F1F1));

    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',
        startColorstr=#F5F5F5, 
        endColorstr=#F1F1F1, 
        GradientType=0);
    border: 1px solid #c4c4c4;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #222;
    cursor: default;
    font: 75% arial,sans-serif;
    margin: 1px 8px 1px 1;
    outline: medium none;
    padding: 3px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-weight:bold;
}
td.button-group input:hover{
        color:#000;
    border: 1px solid #000;
}*/

/*
** Grilla de Resultado de busquedas
*/
div#paginacion table {
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
    border-top: 1px solid lightGray;
}
div#paginacion tbody tr td{
    padding-left: 10px;
    text-align: center;
    font-family: Calibri;
    font-size: 12px;
}
div#paginacion tbody tr td a{
    text-decoration: none;
    font-family: Calibri;
    font-size: 11px;
    color: #006;
}
div#paginacion tbody tr td a:hover{
    text-decoration: underline;
    font-family: Calibri;
    font-size: 11px;
    color: #06C;
}
div#resultado table{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 1px solid lightGray;
}
div#resultado table tbody tr.even td, div#resultado table tbody tr:nth-child(even) td {
    background:#e5ecf9;
}

td.selection{
    width: 20px;
}
/*table.result tbody tr:hover{
        cursor:pointer;
    background-color:#ddd;
}*/